{{define "view"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Postfix Postmap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/handsontable/dist/handsontable.full.js"></script>
    <script src="/view.js"></script>
    <link rel="stylesheet" media="screen" href="/handsontable/dist/handsontable.full.css">
    <link rel="stylesheet" media="screen" href="/static/css/postmapweb.css">
  </head>
  <body>
    <h1>Manage {{.Domain}} email aliases</h1>
    <div class="instructions">
      <h2>Instructions</h2>
      <p>To define a "catch-all" alias that handles any address not otherwise
        specified, just use @{{.Domain}} (no user part) as the alias.</p>
      <p>Destinations are comma-separated email addresses. Use "nobody" if you
        want the email to be silently dropped.</p>
      <p>To block an email address that is receiving spam, use "spam", "SPAM"
        or a more specific message like "550 I never signed up for your stupid
        mailing list".</p>
    </div>
    <h2>Quick entry</h2>
    <form method="POST">
      <input name="user">@{{.Domain}} ➡ ︎<input name="dest">
      <input type="submit" value="Add">
    </form>
    <h2>Full list</h2>
    <div id="spreadsheet"></div>
    <p>Changelog:</p>
    <ol id="changelog"></ol>
    <form method="POST">
      <input type="hidden" name="changes" value="{}">
      <input id="submit" type="submit" value="Submit changes">
    </form>
  </body>
</html>
{{end}}
