{{define "view"}}
<!DOCTYPE html>
<html>
  <head>
    <title>Postfix Postmap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/handsontable/dist/handsontable.full.min.js"></script>
    <script src="/view.js"></script>
    <link rel="stylesheet" media="screen" href="/handsontable/dist/handsontable.full.min.css">
    <style>
      body {
        font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Lucida Grande", "Source Sans Pro", "Helvetica Neue", Helvetica, "Nimbus Sans L", sans-serif;
      }
      .instructions {
        float: right;
        width: 25%;
        border:1px solid black;
        margin-right: 12px;
        padding: 12px;
      }
    </style>
  </head>
  <body>
    <h1>Manage {{.Domain}} email aliases</h1>
    <div class="instructions">
      <h2>Instructions</h2>
      <p>To define a "catch-all" alias that handles any address not otherwise
        specified, just use @{{.Domain}} as the alias.</p>
      <p>Destinations are comma-separated email addresses. Use "nobody" if you
        want the email to be silently dropped.</p>
    </div>
    <div id="spreadsheet"></div>
    <p>Changelog:</p>
    <ol id="changelog"></ol>
    <form method="POST">
      <input type="hidden" name="changes" value="{}">
      <input id="submit" type="submit">
    </form>
  </body>
</html>
{{end}}
